/* Сhat folders */
.folders {
    width: 90px;
    background: var(--mainColor);
    display: flex;
    flex-direction: column;
}

.fold {
    color: #ccc;
    padding: 10px;
    text-align: center;
    cursor: pointer;
    font-size: 27px;
}

.fold:hover {
    /*background: #000;*/
}

.fold__caption {
    margin-top: 5px;
    font-size: 13px;
    color: #d2d0d3;
}

.fold.active {
    background: var(--mainColor2);
    color: #637bf9;
}

.fold.active .fold__caption {
    color: #637bf9;
    /*color: var(--buttonColor);*/
}

