* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/**
 * Переменные
 *
 * Используются вот так:
 *
   .class {
      color: var(--textColor);
   }
 *
*/
#root {
    --textColor: black;
    --greenColor: rgb(0, 157, 0);
}

body {
    font-family: Arial, serif;
}

a {
    text-decoration: none;
    color: var(--textColor);
}

