* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/**
 * Переменные
 *
 * Используются вот так:
 *
   .class {
      color: var(--textColor);
   }
 *
*/
#root {
    --mainColor: #0d141a;
    --mainColor2: #22272e;
    --buttonColor: rgb(38,75,243);
    --textColor: rgba(255,255,255, .8);
}

body {
    font-family: Arial, serif;
}

a {
    text-decoration: none;
    color: var(--textColor);
}

